:root {
  --bg-color-primary: #E87204;
  --btn-primary: #F1F6F6;
  --ba-color-blanco: white;
  --ba-color-escritura: black;
  --ba-color-dark: rgb(3 7 18);
}

.bg-nav-public {
  background-color: var(--ba-color-dark);
  color: var(--btn-primary);
}

.btn-pri {
  background-color: transparent;
  color: var(--btn-primary);
}

.btn-pri:hover {
  color: var(--bg-color-primary);
  border: 1px solid var(--bg-color-primary);
}

.btn-primary {
  background-color: transparent;
  color: var(--ba-color-escritura);
}

.button {
  border: 2px solid var(--btn-primary);
  border-radius: 30px;
  font-size: 20px;
  padding: 6px 10px;
  margin: 0 0 0 20px;

}

ul>li> {
  margin: 20px;
}

nav:hover {
  color: var(--bg-color-primary);
}

.nav {
  color: var(--btn-primary);
  text-decoration: none;
  margin: 10px 10px 10px 40px;
}

li:hover {
  color: var(--bg-color-primary);
  border-bottom: 2px solid;
}


.com {
  width: 450px;
  /* border: 1px solid; */
  margin: 50px 0 0 450px;
  padding: 50px;
  background-color: var(--ba-color-blanco);
  border-radius: 10px;
}

.logi {
  text-align: center;
  margin: 0px 0 10px 0;
}

.ingresar {
  text-decoration: none;
  color: var(--btn-primary);

}

.ingresar:hover {
  color: var(--bg-color-primary);
}

.link {
  /* border: 1px solid; */
  color: var(--bg-color-primary);
  margin: 10px 50px 0 0;
  text-decoration: none;
}

.links {
  margin: 0 0 0 58px;
  text-decoration: none;
  color: var(--bg-color-primary);

}

.links:hover {
  color: var(--ba-color-dark);
}

.link:hover {
  color: var(--ba-color-dark);
}

.btn {
  margin: 20px 105px;
  width: 140px;
  border: 1px solid var(--ba-color-escritura);
  text-align: center;
}

.btn:hover {
  background-color: var(--bg-color-primary);
  border: 1px solid var(--ba-color-escritura);
  color: var(--btn-primary);

}

body {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.fot {
  margin: 0 0 0 135px;
  width: 80px;
  height: 80px;
}

.form-control {
  width: 348px;
}

.exit {
  color: var(--btn-primary);
  margin: 0 40px 0 0px;
  width: 40px;
  height: 40px;
  /* border: 1px solid red; */
}

.exit:hover {
  color: var(--bg-color-primary);
}

/*formulario de registrar*/
.formu {
  background-color: white;
  border-radius: 8px;
  width: 750px;
  height: 430px;
  text-align: center;
  margin: 130px auto;
}

.let {
  float: left;
  width: 400px;
  margin: 1px 0 0 30px;
}

.inp {
  margin: 0 0 0 20px;
  float: left;
}

.input-container {
  position: relative;
  width: 300px;
}

.form-control {
  width: 100%;
  padding-right: 30px; /* Asegura espacio para el icono */
}

.kit-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Hace que el ícono no sea clickeable */
  color: #555; /* Color del ícono */
}

.inp {
  display: flex;
  flex-direction: column;
}

.inp input:focus + .kit-icon {
  color: #4a90e2; /* Color del ícono al enfocar */
}

.inp input:focus {
  border-color: #4a90e2; /* Color de borde al enfocar */
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3); /* Sombra al enfocar */
}

#I {
  margin: 16px 0;
}

.imagen {
  float: right;
  width: 250px;
  height: 250px;
  margin: 0 50px 0 0;
}

.write {
  width: 300px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}



/*form de resstpassword*/

.form {
  background-color: white;
  border-radius: 8px;
  width: 800px;
  height: 350px;
  margin: 150px auto;
}


.inpe {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px; /* Puedes ajustar el tamaño según sea necesario */
}

.inpe input {
  width: 360px;
  padding: 10px 10px 10px 40px; /* Espacio a la izquierda para el ícono */
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 15px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inpe input:focus {
  border-color: #4a90e2; /* Color de borde al enfocar */
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3); /* Sombra al enfocar */
}

.inpe .email-icon {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  color: #888; /* Color inicial del ícono */
  transition: color 0.3s ease;
}

.inpe input:focus + .email-icon {
  color: #4a90e2; /* Color del ícono al enfocar */
}


.lett {
  float: right;
  width: 400px;
  margin: 5px 0 0 30px;
  /* border: 1px solid; */
  /* text-align: center; */
}


.imagens {
  /* border: 1px solid; */
  float: left;
  width: 200px;
  height: 200px;
  margin: 0px 60px;

}


.text {
  margin: 50px;
}

.resst {
  /* border: 1px solid; */
  margin: 0 0 0 650px;

}

.mki {
  margin: 20px 0 0 10px;
  float: left;
}

.lin {
  margin: 20px;
  float: right;
  color: var(--bg-color-primary);
  text-decoration: none;
}

hr {
  clear: both;
}

.naves {
  background-color: var(--ba-color-dark);
  padding: 30px;
}

/*sidebar*/
.imag {
  width: 60px;
}

.active {
  text-decoration: none;
  color: var(--btn-primary);
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: 1rem !important;
  display: block !important;
}

.active:hover {
  background-color: var(--btn-primary);
  border-radius: 8px;
  color: var(--bg-color-primary);
}

.icon {
  margin: 0 10px 0 0;
}


.exit2 {
  color: var(--btn-primary);
  width: 30px;
  height: 30px;
  margin: 15px 80px 0 0;
  float: right;
}

.p {
  float: left;
  margin: 15px 0 0 10px;

}

.exit2:hover {
  color: var(--bg-color-primary);
}